@import "tailwindcss";

@layer utilities {
    .resEls {
        & a {
            display: block;
            text-decoration: none;
            color: #333;
        }

        &:not(.noImgAnker, .noAnker):hover {
            transition: all .5s;
            box-shadow: 0 0 16px rgba(0, 0, 0, .45);
        }

        &.noImgAnker,
        &.noAnker {
            padding: 1.5em;
        }
    }
}